.wizard-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.medium-size {
  height: 700px;
}

.fullscreen {
  height: 100%;
}

.wizard {
  display: flex;
  flex-direction: row;
  min-width: 900px;
  width: inherit;

  .wizard-menu{
    box-shadow: 0 0 10px 0px #868686 !important;
    min-width: 240px;
    width: 240px;
    background: #3f51b5;
    height: auto;

    ol {
      position: relative;
      font-size: 11px;
      margin: 45px 25px;

      &::before {
        content: '';
        display: block;
        border-left: 2px #FFF solid;
        position: absolute;
        top: 0px;
        left: 28px;
        height: calc(100% - 60px);
        padding: 20px;
        margin-top: 10px;
      }

      li {
        padding: 10px;
        padding-bottom: 35px;
        padding-left: 15px;
        position: relative;
        color: #FFF;
        z-index: 1;
        font-size: 14px;

        &.last{
          padding-bottom: 0;
        }

        &.active::before{
          background: white;
          border: 2px solid #3f51b5;
          box-shadow:
            0 0 0 2px #FFF;
        }

        &::before {
          content: '';
          display: block;
          height: 24px;
          width: 24px;
          background: #3f51b5;
          position: absolute;
          top: 6px;
          left: -25px;
          border-radius: 50%;
          border: 2px solid white;
          z-index: -1;
        }

        &::marker {
          font-size: 14px;
          font-weight: 500;
        }


        &.clickable {
          color: #FFF;
          cursor: pointer;
        }

        &.active {
          color: #FFF;

          &::marker {
            color: #3f51b5;
          }
        }

      }
    }

  }

  .wizard-content{
    width: calc(100% - 240px);
    min-width: calc(100% - 240px);
    max-width: calc(100% - 240px);
    display: flex;
    box-shadow: 0 0 10px 0px #868686 !important;

    .card{
      height: 100%;
    }

    .tab-pane{
      display: none;
      min-width: 100%;

      &.display {
        display: block;
      }
    }
  }

}

.card {
  margin: 0 !important;
}

